TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=static
IPADDR={{ var_ip }}
PREFIX={{ var_prefix }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME={{ var_ifname }}
DEVICE={{ var_ifdevname }}
ONBOOT=yes
AUTOCONNECT_PRIORITY=-999
GATEWAY={{ var_gw }}
DNS1={{ var_dns }}
