TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO={{ network.bootproto }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
IPADDR={{ network.ipaddr }}
PREFIX={{ network.prefix }}
GATEWAY={{ network.gateway }}
DNS1={{ network.dns1 }}
NAME={{ network.device }}
DEVICE={{ network.device }}
ONBOOT=no
AUTOCONNECT_PRIORITY=-999
